.container {
    max-width: 1440px;
    padding: 48px 64px 52px 64px;
    display: flex;
    gap: 64px;
}

.leftColumn {
    max-width: 360px;
}

.rightColumn {
    /* max-width: 888px; */
    width: calc(100% - 424px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .button.loadMoreBtn {
    background-color: #FFFFFF;
    border: 1px solid #DADDE1;
    color: #101828;
}

.button.loadMoreBtn:hover {
    border-color: #D84343;
    background-color: #FFFFFF;
} */

.loadMoreBtn {
    background-color: #FFFFFF !important;
    border: 1px solid #DADDE1 !important;
    color: #101828 !important;
}

.loadMoreBtn:hover {
    border-color: #D84343 !important;
    background-color: #FFFFFF !important;
}