.button {
    font-family: inherit;
    line-height: 1.2;
    width: 166px;
    padding: 16px 40px;
    background-color: #E44848;
    color: #FFFFFF;
    border-radius: 200px;
}

.button:hover {
    background-color: #D84343;
}

/* .button.loadMoreBtn {
    background-color: #FFFFFF;
    border: 1px solid #DADDE1;
    color: #101828;
}

.button.loadMoreBtn:hover {
    border-color: #D84343;
    background-color: #FFFFFF;
} */

/* .loadMoreBtn {
    background-color: #FFFFFF !important;
    border: 1px solid #DADDE1 !important;
    color: #101828 !important;
}

.loadMoreBtn:hover {
    border-color: #D84343 !important;
    background-color: #FFFFFF !important;
} */