.container {
    max-width: 1440px;
    padding: 48px 64px 80px 64px;
    display: flex;
    flex-direction: column;
}

.descritionWrap {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 60px;
}

.backLink {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    font-weight: 500;
}

.title {
    margin-bottom: 8px;
}

.revLocWrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconStar {
    fill: #FFC531;
    stroke: #FFC531;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.camperImgList {
    display: flex;
    gap: 48px;
    width: 100%;
    justify-content: flex-start;
}

.camperImgItem {
    /* width: calc((100% - 144px)/4); */
    max-width: 292px;
    border-radius: 10px;
    overflow: hidden;
}

.camperImage {
    object-fit: cover;
}

.text {
    color: #475467
}

.addInfoTitle {
    margin-bottom: 68px;
}

.addInfoTitleList {
    position: relative;
    display: flex;
    gap: 40px;
}

.addInfoTitleList::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -24px;
    left: 0;
    height: 1px;
    background-color: #DADDE1;
    z-index: 1;
}

.link {
    position: relative;
    /* щоб псевдоелемент можна було правильно розмістити */
}

.link::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #E44848;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    z-index: 10;
}

.link.active::after {
    transform: scaleX(1);
    /* При активному стані лінія з'являється */
}

.addInfo {
    display: flex;
    gap: 40px;
    width: 100%;
}

.leftPart {
    width: 631px;
}

.rightPart {
    width: 641px;
}